/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    	#002b36;
$base02:    	#073642;
$base01:    	#586e75;
$base00:    	#657b83;
$base0:     	#839496;
$base1:     	#93a1a1;
$base2:     	#8d8888;
$base3:     	#70706d;
$yellow:    	#b58900;
$orange:    	#cb4b16;
$red:       	#dc322f;
$magenta:   	#d33682;
$violet:    	#6c71c4;
$blue:      	#268bd2;
$cyan:      	#2aa198;
$green:     	#859900;
$cnbBg:				#dcbebe;
$cnbBg2:			#fafafa;
$cnbLink: 		#060606;
$cnbHeading: 	#797979;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Red Hat Display', 'sans-serif';
$mainColor: $base2;
$headingFont: 'Stalemate', Impact, sans-serif;
$headingColor: $cnbHeading;
$liColor: $base2;
$backgroundColor: linear-gradient(to bottom right, $cnbBg, $cnbBg2);
$linkColor: $cnbLink;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;
$heading1TextShadow: 1px 2px 0 #969696, 1px 7px 5px #aba8a8;
$headingTextShadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
